/* Chatbotのアイコン変える（Lightテーマ, Darkテーマ） */
.css-nxzw36,.css-w1xcae{
    /* 画像のURLを指定してください。ここでは仮のURLを使用しています */
    background-image: url('favicon.png');
    /* 背景画像が要素の全体に表示されるように設定 */
    background-size: cover;
}

/* readmeを消す */
.css-1mzerio {
    display: none !important;
}

/* NewChatのdescriptionを消す */
.css-1ty026z {
    display: none;
}

/* description消した分スタイル整える */
.css-nd13u3 {
    justify-content: center!important;
    padding: 0px 16px 16px 16px!important;
}

/* 押しても戻らん「Go back to chat」を消す */
.css-17xlwvo {
    display: none!important;
}

/* NewChatを左よせ */
.css-1ytqtrj {
    /* width: 100%;
    justify-content: space-between;
    margin-left: 30px!important; */
  }
